.CONTAINER-HEADER{
    width: 100%;
    height: 200px;
    background-color: aqua;
}

.CONTAINER-SECTION-PROMO{
 display: flex; 
 width: 70%;
 margin: 100px auto;
 align-items: center;
}

.ITEM-ARTICLE{


    width: 30%;
    height: 100px;
    background-color: aqua;
}